/* Common styles */

:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --description-text-color: #757575;
  --accent-text-color: #2196f3;
  --filter-background-color: #f5f4fa;
  --hero-button-accent-color: #188ce8;
  --footer-address-link: color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.link {
  text-decoration: none;
}

.header {
  background-color: var(--main-background-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}

.site-nav .link,
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}

.list {
  list-style-type: none;
}

.site-nav .current {
  color: var(--accent-text-color);
}

/* Portfolio styles and footer*/

.hero {
  background-color: var(--second-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-accent-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-text-color);
}

.features-section .features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.19;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.team-section {
  background-color: #f5f4fa;
}

.members-box {
  background-color: var(--main-background-color);
}

.team-section .member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}

.footer {
  background-color: var(--second-background-color);
}

.footer .logo {
  color: var(--second-text-color);
}

.footer .link.address {
  color: var(--main-background-color);
  font-style: normal;
}

.footer .link {
  color: var(--footer-address-link);
  font-style: normal;
}

/* Portfolio styles */

.filters .filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--filter-background-color);
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.filters .filter-item:hover,
.filters .filter-item:focus {
  background-color: var(--accent-text-color);
  color: var(--second-text-color);
}

.examples .list-item {
  background-color: var(--second-text-color);
  border: 1px solid #eeeeee;
}

.examples .list-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.examples .list-item__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--description-text-color);
}
